@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 200px 200px 5vw;
    text-align: center;
}

nav {
    margin: 0;
    background: #be346d;
}

/* home styles */
#home {
    background-image: url("./images/layered-waves-haikei.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10;
}

h1 {
    font-size: 72px;
    margin: 0;
}

.links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.links li {
    margin: 0px 5px 0px 5px; 
    font-size: 20px;
}

.links a {
    text-decoration: none;
    color: antiquewhite;
}

.links a:hover {
    color: #be346d;
}

.links li:hover {
    transition: 200ms linear;
    margin: 0px 10px 0px 10px;
    text-shadow: 4px 4px 4px #000;
}

.words {
    display: block;
    margin: 0px;
    padding: 0;
    text-align: center;
    list-style: none;
}

.words li {
    margin: 10px 0px 20px 0px; 
    font-size: 18px;
}

.words a {
    text-decoration: none;
}


/* about styles */
#about {
    background-image: url("./images/layered-waves-haikei2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img {
    width: 300px;
    height: 450px;
    border: transparent;
    border-radius: 4px;
    margin: 4px;
    box-shadow: 4px 4px 10px #000;

}

.about-text {
    color: #202731;
    background-color: antiquewhite;
    height: 400px;
    width: 800px;
    padding: 8px;
    margin: 4px;
    border: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #000;
}

/* work styles */
#work {
    background-image: url("./images/layered-waves-haikei.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10;
}

/* contact styles */
#contact {
    background-image: url("./images/layered-waves-haikei2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10;
}

.formy {
    background-color: antiquewhite;
    color: #202731;
    border-color: #202731;
    border-radius: 6px;
    box-shadow: 4px 4px 10px #000;
}

#contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#contact input {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-color: #202731;
    border-radius: 6px;

}

#contact textarea {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 200px;
    border-color: #202731;
    border-radius: 6px;
}

#contact button {
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-color: #202731;
    border-radius: 6px;
}

#contact button:hover {
    background-color: #202731;
    color: antiquewhite;
}

.end {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin: 10px;
    border-color: #202731;
    border-radius: 6px;
    box-shadow: 4px 4px 10px #000;
}

.end:hover {
    background-color: #202731;
    color: antiquewhite;
}

.end p {
    padding: 2px;
    margin: 10px;
}


.end a {
    text-decoration: none;
    color: #202731;
}

.end a:hover {
    color: antiquewhite;
}